PettingZoo==1.17.0
gym==0.23.1
parl>=2.1.1
paddlepaddle


"""if not pgl"""
------------- 20241017 ---------------
Package                 Version
----------------------- --------------
absl-py                 2.1.0
anyio                   4.3.0
astor                   0.8.1
asttokens               2.4.1
backcall                0.2.0
blinker                 1.7.0
cachetools              5.3.3
certifi                 2024.2.2
charset-normalizer      3.3.2
click                   8.1.7
cloudpickle             1.6.0
colorama                0.4.6
comm                    0.2.2
compute-rhino3d         0.12.2
contourpy               1.3.0
cycler                  0.12.1
Cython                  3.0.11
debugpy                 1.6.7
decorator               5.1.1
deepdiff                8.0.1
dm-env                  1.6
dm-tree                 0.1.8
enum34                  1.1.10
exceptiongroup          1.2.1
executing               2.1.0
Flask                   3.0.3
Flask-Cors              4.0.0
fonttools               4.54.1
google-auth             2.29.0
google-auth-oauthlib    0.4.6
grpcio                  1.37.0
gym                     0.26.2
gym-notices             0.0.8
h11                     0.14.0
httpcore                1.0.5
httpx                   0.27.0
idna                    3.7
imageio                 2.35.1
importlib_metadata      7.1.0
importlib_resources     6.4.5
ipykernel               6.29.5
ipython                 8.12.0
itsdangerous            2.2.0
jedi                    0.19.1
Jinja2                  3.1.3
joblib                  1.4.2
jupyter_client          8.6.3
jupyter_core            5.7.2
kiwisolver              1.4.7
lazy_loader             0.4
Markdown                3.6
MarkupSafe              2.1.5
matplotlib              3.9.2
matplotlib-inline       0.1.7
mock                    5.1.0
mpyq                    0.2.5
nest_asyncio            1.6.0
networkx                3.2.1
numpy                   1.26.2
oauthlib                3.2.2
opencv-python           4.10.0.84
opt-einsum              3.3.0
orderly-set             5.2.2
packaging               24.1
paddle-bfloat           0.1.7
paddlepaddle            2.5.1
paddlepaddle-gpu        2.5.1
pandas                  2.2.2
parl                    2.2.1
parso                   0.8.4
PettingZoo              1.17.0
pickleshare             0.7.5
pillow                  10.3.0
pip                     23.3.1
platformdirs            4.3.6
portpicker              1.6.0
prompt_toolkit          3.0.47
protobuf                3.20.0
psutil                  5.9.0
pure_eval               0.2.3
pyasn1                  0.6.0
pyasn1_modules          0.4.0
pygame                  2.6.0
Pygments                2.18.0
pynvml                  11.5.0
pyparsing               3.1.4
PySC2                   4.0.0
python-dateutil         2.9.0
pytz                    2024.1
pywin32                 305.1
pyzmq                   22.3.0
requests                2.31.0
requests-oauthlib       2.0.0
rhino3dm                8.6.0
rsa                     4.9
s2clientprotocol        5.0.13.92440.3
s2protocol              5.0.13.92440.4
scikit-image            0.24.0
scikit-learn            1.5.2
scipy                   1.13.0
setuptools              68.2.2
shapely                 2.0.6
six                     1.16.0
sk-video                1.1.10
SMAC                    1.0.0
snakeviz                2.2.0
sniffio                 1.3.1
stack-data              0.6.2
tensorboard             2.11.0
tensorboard-data-server 0.6.1
tensorboard-plugin-wit  1.8.1
tensorboardX            2.5
termcolor               2.4.0
threadpoolctl           3.5.0
tifffile                2024.8.30
tornado                 6.2
traitlets               5.14.3
typing_extensions       4.11.0
tzdata                  2024.1
urllib3                 2.2.1
wcwidth                 0.2.13
websocket-client        1.8.0
Werkzeug                3.0.2
wheel                   0.41.2
zipp                    3.18.1


"""if pgl"""
Package                 Version
----------------------- --------------
absl-py                 2.1.0
anyio                   4.3.0
astor                   0.8.1
asttokens               2.4.1
backcall                0.2.0
blinker                 1.7.0
cachetools              5.3.3
certifi                 2024.2.2
charset-normalizer      3.3.2
click                   8.1.7
cloudpickle             1.6.0
colorama                0.4.6
comm                    0.2.2
compute-rhino3d         0.12.2
cycler                  0.12.1
Cython                  3.0.11
debugpy                 1.6.7
decorator               5.1.1
deepdiff                8.0.1
dm-env                  1.6
dm-tree                 0.1.8
enum34                  1.1.10
exceptiongroup          1.2.1
executing               2.1.0
Flask                   3.0.3
Flask-Cors              4.0.0
fonttools               4.54.1
google-auth             2.29.0
google-auth-oauthlib    0.4.6
grpcio                  1.37.0
gym                     0.26.2
gym-notices             0.0.8
h11                     0.14.0
httpcore                1.0.5
httpx                   0.27.0
idna                    3.7
imageio                 2.35.1
importlib_metadata      7.1.0
importlib_resources     6.4.5
ipykernel               6.29.5
ipython                 8.12.0
itsdangerous            2.2.0
jedi                    0.19.1
Jinja2                  3.1.3
joblib                  1.4.2
jupyter_client          8.6.3
jupyter_core            5.7.2
kiwisolver              1.4.7
lazy_loader             0.4
Markdown                3.6
MarkupSafe              2.1.5
matplotlib              3.3.4
matplotlib-inline       0.1.7
mock                    5.1.0
mpyq                    0.2.5
nest_asyncio            1.6.0
networkx                3.2.1
numpy                   1.19.5
oauthlib                3.2.2
opencv-python           4.10.0.84
opt-einsum              3.3.0
orderly-set             5.2.2
packaging               24.1
paddle-bfloat           0.1.7
paddlepaddle            2.5.1
paddlepaddle-gpu        2.5.1
pandas                  1.1.5
parl                    2.2.1
parso                   0.8.4
PettingZoo              1.17.0
pgl                     2.2.3.post0
pickleshare             0.7.5
pillow                  10.3.0
pip                     23.3.1
platformdirs            4.3.6
portpicker              1.6.0
prompt_toolkit          3.0.47
protobuf                3.20.0
psutil                  5.9.0
pure_eval               0.2.3
pyasn1                  0.6.0
pyasn1_modules          0.4.0
pygame                  2.6.0
Pygments                2.18.0
pynvml                  11.5.0
pyparsing               3.1.4
PySC2                   4.0.0
python-dateutil         2.9.0
pytz                    2024.1
PyWavelets              1.1.1
pywin32                 305.1
pyzmq                   22.3.0
requests                2.31.0
requests-oauthlib       2.0.0
rhino3dm                8.6.0
rsa                     4.9
s2clientprotocol        5.0.13.92440.3
s2protocol              5.0.13.92440.4
scikit-image            0.18.3
scikit-learn            0.24.2
scipy                   1.5.4
setuptools              68.2.2
shapely                 2.0.6
six                     1.16.0
sk-video                1.1.10
SMAC                    1.0.0
snakeviz                2.2.0
sniffio                 1.3.1
stack-data              0.6.2
tensorboard             2.11.0
tensorboard-data-server 0.6.1
tensorboard-plugin-wit  1.8.1
tensorboardX            2.5
termcolor               2.4.0
threadpoolctl           3.5.0
tifffile                2024.8.30
tornado                 6.2
traitlets               5.14.3
typing_extensions       4.11.0
tzdata                  2024.1
urllib3                 2.2.1
wcwidth                 0.2.13
websocket-client        1.8.0
Werkzeug                3.0.2
wheel                   0.41.2
zipp                    3.18.1